@import url('colors.css');

html,
body {
    height: 100%;
    font-family: "Arial Bold", sans-serif;
    cursor: default;
}

body {
    display: flex;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

footer {
    cursor: default !important;
}

a {
    position: relative;
    text-decoration: none !important;
    font-weight: bold;
    cursor: default;
}

a svg {
    width: 40px;
    height: 40px;
    transition: scale .3s ease-in-out;
    transition-property: all;
}

a svg:hover {
    scale: 1.2;
}

img {
    margin-top: 1em;
    margin-bottom: 1em;
}

p {
    margin: 0em;
}

form {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

#link {
    color: var(--primary-color) !important;
}

#link:hover {
    text-decoration: underline !important;
}

#title {
    font-size: 2em;
    font-weight: 650;
    color: #ffffff;
    cursor: default;
}

#subtitle {
    font-size: 1em;
    margin-top: 1em;
    color: #c0c0c0;
    cursor: default;
}

#account {
    width: 100px;
    height: 100px;
}

#account {
    border: 2px solid var(--input-font-color);
    background-color: var(--input-font-color) !important;
}

#account:hover {
    border: 2px solid #ffffff !important;
    background-color: #ffffff !important;
}

#label-avatar {
    color: #606060;
}

#passwordStrengthBar {
    font-family: "Arial Bold", sans-serif;
    position: relative;
    font-weight: bold;
    border-radius: 10px;
    height: 28px;
    width: 100%;
    background-color: var(--input-font-color);
    display: none;
    position: relative;
    /* border: 2px solid var(--input-font-color); */
}

#strengthIndicator {
    height: 100%;
    width: 0%;
    background-color: var(--success-color);
    color: var(--input-bg-color);
    line-height: 28px;
    text-align: center;
    border-radius: 10px;
}

#strengthIndicator::after {
    content: attr(data-strength-text);
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
}

#passwordFeedback {
    display: none;
    color: var(--error-color);
}

.banner-container {
    height: 6em !important;
    display: flex;
    align-items: stretch;
    border: 1px solid var(--primary-color);
}

.banner-container img {
    width: 100% !important;
    height: 100% !important;
    position: relative;
    z-index: -2;
    object-fit: cover !important;
    object-position: center center !important;
    padding: 0;
    margin: 0;
}

.alert {
    font-weight: normal !important;
    margin-top: -2em !important;
    margin-bottom: -1em !important;
}

.alert-danger,
.alert-success {
    background-color: var(--dark-grey-color) !important;
    border-color: none !important;
    border: none !important;
    margin-top: 0em !important;
    padding-top: 0em !important;
    font-weight: normal !important;
}

.alert-danger {
    color: var(--error-color) !important;
}

.alert-success {
    color: var(--success-color) !important;
}

.alert hr {
    height: 0em !important;
    margin: 0em !important;
    width: 100% !important;
}

.avatar-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.avatar-img {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-right: 5px;
    padding-left: 5px;
}

.logo {
    margin-top: 1em;
}

.color-text-icon {
    color: var(--input-font-color);
}

.form-signin {
    width: 100%;
    padding: 1em;
    margin: auto;
}

.form-register {
    max-width: 25em !important;
    border-radius: 20px !important;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    margin-top: .7em;
    margin-bottom: .7em;
    background-color: var(--input-bg-color);
    color: var(--input-font-color);
    border: 2px solid var(--input-border-color);
    font-size: 1em;
    border-radius: 5px !important;
}

.form-signin input[type="file"] {
    background-color: var(--input-bg-color);
    color: var(--input-font-color);
    border: 2px solid var(--input-border-color) !important;
    font-size: 1em;
    border-radius: 5px !important;
}

.form-signin input[type="file"]::file-selector-button {
    padding-top: 0em !important;
    margin-top: 0em !important;
    font-weight: bold !important;
    background-color: var(--primary-color) !important;
    color: #000000 !important;
    border: none !important;
    border-radius: 5px !important;
}

.form-signin label {
    color: #606060;
}

.form-signin input[type="text"]:focus+label,
.form-signin input[type="password"]:focus+label,
.form-signin input[type="text"]:focus+label::after,
.form-signin input[type="password"]:focus+label::after,
.form-signin input[type="text"]+label,
.form-signin input[type="password"]+label,
.form-signin input[type="text"]+label::after,
.form-signin input[type="password"]+label::after {
    color: #606060 !important;
    background-color: var(--input-bg-color)00 !important;
}

input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: inset 0 -1px 0 #dddddd00;
    border: 1px solid var(--input-font-color) !important;
}

.form-signin button[type="submit"],
#buttonLogin {
    background-color: #2f2f2f;
    padding: .5em 3em;
    border: none;
    border-radius: 3px;
    color: #969696;
    font-weight: bold;
    font-size: 1em;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    margin-top: 2em;
    filter: brightness(150%);
}

.form-signin button[type="submit"]:active,
#buttonLogin:active {
    background-color: none !important;
    color: var(--background-page-color);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.ready,
#buttonLogin {
    background-color: var(--primary-color) !important;
    color: var(--background-page-color) !important;
    filter: brightness(100%) !important;
}

.background-first {
    position: relative;
    height: 100vh;
    background: var(--background-page-color);
}

.background-first .background-second {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.background-second {
    width: 100%;
    background-color: var(--dark-grey-color);
    -webkit-box-shadow: 0 1em 1em 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1em 1em 10px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px !important;
}

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

@media only screen and (max-width: 992px) {
    .mobile-only {
        display: block;
    }

    .pc-only {
        display: none;
    }

    #account {
        width: 100px !important;
        height: 100px !important;
    }

    #account {
        border: 1px solid var(--input-font-color) !important;
    }

    #account:hover {
        border: 1px solid #ffffff !important;
    }
}